.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.containerFields {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#searchField {
  width: 40%;
}

#searchButton {
  width: 4%;
}

#searchField,
#searchButton {
  height: 7%;

  border: 1px solid rgba(0, 0, 0, 0.397);
}

.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 25%;

  visibility: hidden;
}

.informationsField {
  display: none;

  width: 50vw;
  height: 300px;

  border: 1px solid #000;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  text-align: center;
}

.channelImg {
  width: 318px;
  height: 207.44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channelName {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
}

.imagesChannel {
  width: 130px;
  height: 130px;

  border-radius: 50%;
}

.socialMidia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 207.44px;
}

.moreDetails {
  display: flex;
  flex-direction: column;
}

.titleMidias {
  margin: 2px 0px;
}

.listMidias {
  display: flex;
  gap: 20px;
}

.listSocialMidia {
  list-style: none;
}

.icon {
  width: 28px;
  height: 28px;
}

.btnInfo {
  width: 150px;
  height: 40px;

  margin-bottom: 10px;
}

.videoContainer {
  width: 30%;
  height: 460px;

  border: 1px solid rgba(0, 0, 0, 0.315);

  display: flex;
  flex-direction: column;
}

#channelTitle,
#description {
  font-size: 14px;
  margin: 5px 0px;
}

#mainTitle {
  font-size: 20px;
  font-weight: 700;

  margin: 5px 0px;
}

#channelTitle,
#description,
#mainTitle {
  padding-left: 5px;
}
